# Node / Nest
node_modules/
**/node_modules/
dist/
**/dist/
coverage/
.env
.eslintcache
!.env.example

# Flutter
**/build/
.dart_tool/
.flutter-plugins*
.packages
pubspec.lock

# OS / IDE
.DS_Store
Thumbs.db
*.iml
.idea/
.vscode/