# Dependencies
node_modules/
**/node_modules/

# Build / dist
dist/
**/dist/
build/
**/build/

# Env
.env
.env.*
!.env.example

# Logs
*.log
pnpm-debug.log*

# Tools
.husky/
.lintstagedrc.mjs

# OS / IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Flutter
**/build/
.dart_tool/
.flutter-plugins*
.packages
pubspec.lock